.main-nav{
    width: 100%;
}

.bar{
    margin: auto;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list , a{
    list-style: none;
    text-decoration: none;
}

